@import "tailwindcss";

body {
  background-color: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@theme {
  --color-primary: #002EF1;
  --color-secondary: #FFB802;
  --color-warning: #FF6711;
  --color-error: #FE3F61;
  --color-success: #009846;
  --color-white: #FFFFFF;
  --color-green: #5ed5a8;
  --color-yellow: #ffc82c;
  --color-black: #14142B;
  --color-gray: #999fae;
  --color-gray-dark: #273444;
  --color-gray-light: #F0F0F0;
  --color-blue: #1fb6ff;
  --color-purple: #7e5bef;
  --color-pink: #ff49db;
  --color-orange: #ff7849; 

  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: Merriweather, serif;

  --breakpoint-sm: 650px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.3rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
}

.btn-standard {
  @apply bg-primary text-white py-2 px-4 my-2 cursor-pointer hover:bg-blue hover:transition-all;
}

.btn-secundary {
  @apply bg-gray-light shadow-lg text-gray-dark py-2 px-4 my-2 rounded-3xl cursor-pointer hover:bg-blue hover:transition-all;
}

.card {
  @apply p-4 mb-4 bg-white rounded-lg shadow-lg;
}

.menu {
  @apply w-full h-screen bg-white rounded-lg shadow-lg overflow-hidden;
}

.inputOn {
  @apply w-full my-8 block pl-5 py-2 text-sm text-gray-dark border border-gray-light rounded-lg bg-gray-light focus:border-primary focus:ring-primary focus:outline-none
}

.inputOff{
  @apply w-full my-8 block pl-5 py-2 text-sm text-error border border-gray-light rounded-lg bg-gray-light focus:border-error ring-error outline-none ring
}

.tag {
  @apply border border-gray text-gray rounded-xl px-2 mx-1
}

.subtitle {
  @apply text-left font-bold text-base py-4 my-2 md:text-3xl;
}

.title-path {
  @apply flex justify-center text-3xl pb-4 mt-2 hover:text-primary
}

.containner {
  @apply w-[80%] mx-auto my-4 md:w-[1200px] lg:w-[1500px] ;
}